{{ define "content" }}
{{ with .Alert }}
<div id="alertMessage" class="alert alert-success mt-3" role="alert">
    {{ . }}
</div>
{{ end }}
<h1>
    Yeni Forum Ekle
    <a href="/admin" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Geri Dön</a>
</h1>
<hr>
<form action="/admin/add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Forum Başlığı</label>
        <input type="text" name="forum-title" class="form-control">
    </div>
    <div class="form-group">
        <label>Forum Açıklaması</label>
        <textarea name="forum-desc" cols="30" rows="2" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Kategori</label>
        <select name="forum-category" class="form-control" >
            {{ range $index,$value := .Categories }}
            <option value="{{ $value.ID }}">{{ $value.Title }}</option>
            {{ end }}
        </select>
    </div>
    <div class="form-group">
        <label>Forum Görseli</label>
        <input type="file" name="forum-picture" class="form-control-file">
    </div>
    <div class="form-group">
        <label>Forum İçeriği</label>
        <textarea name="forum-content" id="summernote" cols="30" rows="2" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-success w-100 my-3">Kaydet</button>
</form>
{{ end }}