{{define "sidebar"}}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
        <div class="sidebar-brand-icon">
            <i class="fa-brands fa-black-tie"></i>
        </div>
        <div class="sidebar-brand-text mx-1">GoForum admın</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/admin">
            <i class="fas fa-newspaper"></i>
            <span>Forum Yazıları</span></a>
    </li>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/kategoriler">
            <i class="fas fa-layer-group"></i>
            <span>Forum Kategorileri</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/contact">
            <i class="fas fa-inbox"></i>
            <span>Mesaj Kutusu</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/about">
            <i class="fas fa-address-card"></i>
            <span>Hakkımda İçeriği</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/comment/posts">
            <i class="fas fa-comments"></i>
            <span>Yorumlar</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/admin/user">
        <i class="fas fa-users"></i>
        <span>Üyeler</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
{{end}}